<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kapabilitetsmodell uten kategorier som importert fra Excel, uten nummerering</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kapabilitetsmodell uten kategorier som importert fra Excel, uten nummerering</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-52ef13a995a042a9812ac827e6a59b15.png" alt="Kapabilitetsmodell uten kategorier som importert fra Excel, uten nummerering" usemap="#id-52ef13a995a042a9812ac827e6a59b15map"/>
			   <map name="id-52ef13a995a042a9812ac827e6a59b15map">
				  		<area shape="rect" coords="600,1158,866,1300" href="../elements/id-9d1db997b6ff4b78808eac4a258477ca.html"  target="element">
				  		<area shape="rect" coords="1176,1158,1442,1300" href="../elements/id-0e15c41ad9f3460eb38cf48c53ffc9aa.html"  target="element">
				  		<area shape="rect" coords="20,182,286,324" href="../elements/id-a0a7c96dff8041fcafb99c43590d3de4.html"  target="element">
				  		<area shape="rect" coords="20,668,286,810" href="../elements/id-f98aef1930d14816b76cd2167e6f0b34.html"  target="element">
				  		<area shape="rect" coords="312,344,578,486" href="../elements/id-9bbaff9f511d454f9c5f12e47692c559.html"  target="element">
				  		<area shape="rect" coords="20,344,286,486" href="../elements/id-0d338c7990f14df3aa7bd236996a4c2e.html"  target="element">
				  		<area shape="rect" coords="20,20,286,162" href="../elements/id-b923c882358c463ebde52bf8b8f3ba0f.html"  target="element">
				  		<area shape="rect" coords="312,506,578,648" href="../elements/id-753f70d7a99746de83015e9bea1d4c53.html"  target="element">
				  		<area shape="rect" coords="20,506,286,648" href="../elements/id-1689120a0af44d539c17c07d68c70321.html"  target="element">
				  		<area shape="rect" coords="312,182,578,324" href="../elements/id-f52a5bc2bf624ee1903d0d9451e32ead.html"  target="element">
				  		<area shape="rect" coords="312,20,578,162" href="../elements/id-57cad35752ea44e790965e6582ffe98f.html"  target="element">
				  		<area shape="rect" coords="888,1158,1154,1300" href="../elements/id-a46671b799a741a79e376025b1f89eb5.html"  target="element">
				  		<area shape="rect" coords="1176,996,1442,1138" href="../elements/id-515e0ba06d2e4c15942883293af0e017.html"  target="element">
				  		<area shape="rect" coords="888,996,1154,1138" href="../elements/id-541b9bb0234f4352bee3891474235236.html"  target="element">
				  		<area shape="rect" coords="1176,828,1442,970" href="../elements/id-a219d2559fee49c9858e5b21f1294801.html"  target="element">
				  		<area shape="rect" coords="888,828,1154,970" href="../elements/id-c492c7f79d8549b282e37992c84a9bb9.html"  target="element">
				  		<area shape="rect" coords="600,828,866,970" href="../elements/id-30b51de36241446e98ed653651899fcf.html"  target="element">
				  		<area shape="rect" coords="312,828,578,970" href="../elements/id-a5d20f0547fc40cda7add13b73596345.html"  target="element">
				  		<area shape="rect" coords="20,828,286,970" href="../elements/id-6b33d20489a84dc4b4fe343505b0f6fe.html"  target="element">
				  		<area shape="rect" coords="2320,340,2586,482" href="../elements/id-e712a469d75b4ecbafafdfa9bb90befc.html"  target="element">
				  		<area shape="rect" coords="1176,668,1442,810" href="../elements/id-417cc8683c8641f9822f27a77c5b6827.html"  target="element">
				  		<area shape="rect" coords="1752,506,2018,648" href="../elements/id-7781c934c540415485857b23440e018a.html"  target="element">
				  		<area shape="rect" coords="2320,182,2586,324" href="../elements/id-1c5c449e40fb4f3ab1b0a8846086ec2d.html"  target="element">
				  		<area shape="rect" coords="2320,20,2586,162" href="../elements/id-c5f0986965f3463ba1c4d90dcd57eb74.html"  target="element">
				  		<area shape="rect" coords="2040,506,2306,648" href="../elements/id-568859e0449e4507bffb1b25f8c7e520.html"  target="element">
				  		<area shape="rect" coords="2040,344,2306,486" href="../elements/id-d6cf0d623cf544fc9ba5c01b25b5d293.html"  target="element">
				  		<area shape="rect" coords="2040,182,2306,324" href="../elements/id-a3228eef625143ffb88c63b045e7521a.html"  target="element">
				  		<area shape="rect" coords="2040,20,2306,162" href="../elements/id-c1746885c5ba42dbbe227395b54ba797.html"  target="element">
				  		<area shape="rect" coords="1464,506,1730,648" href="../elements/id-7a73edc4b1a145fbb935267624912b78.html"  target="element">
				  		<area shape="rect" coords="1176,506,1442,648" href="../elements/id-4d88063ab18c476184f94754f30c2f96.html"  target="element">
				  		<area shape="rect" coords="1752,344,2018,486" href="../elements/id-dc5834309a644a968bbf6f779235723f.html"  target="element">
				  		<area shape="rect" coords="1464,344,1730,486" href="../elements/id-5dfe2561c8524fa19d6d8b4cfe655a27.html"  target="element">
				  		<area shape="rect" coords="1176,344,1442,486" href="../elements/id-b2ce156d98464be98f302f41ba0d6fcf.html"  target="element">
				  		<area shape="rect" coords="1752,182,2018,324" href="../elements/id-966b44af81a94418946e972a725e6007.html"  target="element">
				  		<area shape="rect" coords="1464,182,1730,324" href="../elements/id-52f0c5f58e3c4a178cfb457ed0c443c1.html"  target="element">
				  		<area shape="rect" coords="1176,182,1442,324" href="../elements/id-cf8cf2ff50984cc6a2ff516d5523982b.html"  target="element">
				  		<area shape="rect" coords="1752,20,2018,162" href="../elements/id-672c6eec61f64e6080828774070ec4cb.html"  target="element">
				  		<area shape="rect" coords="1464,20,1730,162" href="../elements/id-701bdacf0cb342c3a60b0a281ebd639e.html"  target="element">
				  		<area shape="rect" coords="1176,20,1442,162" href="../elements/id-41a35a4b0e40429383e6d1ee322f31cb.html"  target="element">
				  		<area shape="rect" coords="1476,828,1742,970" href="../elements/id-0e0e95a6a8ef442b85d076bfa83eba2c.html"  target="element">
				  		<area shape="rect" coords="1752,668,2018,810" href="../elements/id-36dc740359114e9684de854a2bdd983c.html"  target="element">
				  		<area shape="rect" coords="1764,828,2030,970" href="../elements/id-7538292295c247b29c8ae78a11277bbe.html"  target="element">
				  		<area shape="rect" coords="2040,668,2306,810" href="../elements/id-2f95dce9e6ff4ae289e8996aee7f0a91.html"  target="element">
				  		<area shape="rect" coords="1476,668,1742,810" href="../elements/id-81f281c71ede488d86f2e12b8767ef23.html"  target="element">
				  		<area shape="rect" coords="2340,668,2606,810" href="../elements/id-e666ef812573448bb8fa48d79c710e2f.html"  target="element">
				  		<area shape="rect" coords="2328,828,2594,970" href="../elements/id-bf1971ff713946f99f2bc613a7b52db1.html"  target="element">
				  		<area shape="rect" coords="2328,1146,2594,1288" href="../elements/id-d96164ef26dc4a8e8c65df6f181dfa8a.html"  target="element">
				  		<area shape="rect" coords="2040,1146,2306,1288" href="../elements/id-c3e15f6dad3344fab398f754cbf7c37b.html"  target="element">
				  		<area shape="rect" coords="1752,1146,2018,1288" href="../elements/id-c5896319eef541b0bbd830e656acd9ac.html"  target="element">
				  		<area shape="rect" coords="1464,1146,1730,1288" href="../elements/id-e1b7f914cfef47f6956984e0e9541abe.html"  target="element">
				  		<area shape="rect" coords="2328,990,2594,1132" href="../elements/id-e2e347ab02264fe884f3f18cc026c14f.html"  target="element">
				  		<area shape="rect" coords="2040,828,2306,970" href="../elements/id-dde7bbe2f1864bfbb1d55326437761b2.html"  target="element">
				  		<area shape="rect" coords="2040,990,2306,1132" href="../elements/id-7cab6c467f174deda54dfbf07bed5fdf.html"  target="element">
				  		<area shape="rect" coords="1752,984,2018,1126" href="../elements/id-3a00e9b1b2c0400b9340d0e0650d2478.html"  target="element">
				  		<area shape="rect" coords="1464,984,1730,1126" href="../elements/id-2574ce8bff2c4b20a2b79704e071688c.html"  target="element">
				  		<area shape="rect" coords="888,506,1154,648" href="../elements/id-3e4d88c375634d4fba96b32aec4980ec.html"  target="element">
				  		<area shape="rect" coords="888,344,1154,486" href="../elements/id-ee3fa804321b449bb0f3d0d226f9388e.html"  target="element">
				  		<area shape="rect" coords="888,182,1154,324" href="../elements/id-e110af88eb044b56b46fbf6bec583599.html"  target="element">
				  		<area shape="rect" coords="888,20,1154,162" href="../elements/id-6b328f7cd61b4028a6038429d2c5419c.html"  target="element">
				  		<area shape="rect" coords="600,668,866,810" href="../elements/id-8d547f1cd4604535812bd11c45ef663d.html"  target="element">
				  		<area shape="rect" coords="600,506,866,648" href="../elements/id-7400d95766cf4a56954b0858bd989252.html"  target="element">
				  		<area shape="rect" coords="600,344,866,486" href="../elements/id-dec75fef947c4f4fbcc1f3654df14f1e.html"  target="element">
				  		<area shape="rect" coords="600,182,866,324" href="../elements/id-d222d40f47b840008fb9973ff2496e41.html"  target="element">
				  		<area shape="rect" coords="600,20,866,162" href="../elements/id-328ff99141d74b0b945a79eb4ab110f1.html"  target="element">
				  		<area shape="rect" coords="314,1158,580,1300" href="../elements/id-9b4816ea87ed4f3983721a1c51396cb1.html"  target="element">
				  		<area shape="rect" coords="22,1158,288,1300" href="../elements/id-71a1da3234c149fdb1ee490e7b343cde.html"  target="element">
				  		<area shape="rect" coords="314,996,580,1138" href="../elements/id-62e36a4d6f5d45339f4bad4156297fd9.html"  target="element">
				  		<area shape="rect" coords="602,996,868,1138" href="../elements/id-01196244f32643a2833a09410d9e08f0.html"  target="element">
				  		<area shape="rect" coords="22,996,288,1138" href="../elements/id-33e1cc3261c0449ba3e3cf739b951fed.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-33e1cc3261c0449ba3e3cf739b951fed.html" target="element"> Ontologier </a> </td>
											    <td> <a href="../elements/id-33e1cc3261c0449ba3e3cf739b951fed.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01196244f32643a2833a09410d9e08f0.html" target="element"> Digital tvilling lager </a> </td>
											    <td> <a href="../elements/id-01196244f32643a2833a09410d9e08f0.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62e36a4d6f5d45339f4bad4156297fd9.html" target="element"> Tidsserie datalager </a> </td>
											    <td> <a href="../elements/id-62e36a4d6f5d45339f4bad4156297fd9.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-71a1da3234c149fdb1ee490e7b343cde.html" target="element"> Datalagring </a> </td>
											    <td> <a href="../elements/id-71a1da3234c149fdb1ee490e7b343cde.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b4816ea87ed4f3983721a1c51396cb1.html" target="element"> AI modell lager </a> </td>
											    <td> <a href="../elements/id-9b4816ea87ed4f3983721a1c51396cb1.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-328ff99141d74b0b945a79eb4ab110f1.html" target="element"> IoT integrasjon </a> </td>
											    <td> <a href="../elements/id-328ff99141d74b0b945a79eb4ab110f1.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d222d40f47b840008fb9973ff2496e41.html" target="element"> Digital tvilling integrasjon </a> </td>
											    <td> <a href="../elements/id-d222d40f47b840008fb9973ff2496e41.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dec75fef947c4f4fbcc1f3654df14f1e.html" target="element"> API styring </a> </td>
											    <td> <a href="../elements/id-dec75fef947c4f4fbcc1f3654df14f1e.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7400d95766cf4a56954b0858bd989252.html" target="element"> Visningstjeneste </a> </td>
											    <td> <a href="../elements/id-7400d95766cf4a56954b0858bd989252.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8d547f1cd4604535812bd11c45ef663d.html" target="element"> Nedlastingstjeneste </a> </td>
											    <td> <a href="../elements/id-8d547f1cd4604535812bd11c45ef663d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6b328f7cd61b4028a6038429d2c5419c.html" target="element"> Str&#248;mme og deletjeneste </a> </td>
											    <td> <a href="../elements/id-6b328f7cd61b4028a6038429d2c5419c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e110af88eb044b56b46fbf6bec583599.html" target="element"> Endringstjeneste </a> </td>
											    <td> <a href="../elements/id-e110af88eb044b56b46fbf6bec583599.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee3fa804321b449bb0f3d0d226f9388e.html" target="element"> Oppdateringstjeneste </a> </td>
											    <td> <a href="../elements/id-ee3fa804321b449bb0f3d0d226f9388e.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e4d88c375634d4fba96b32aec4980ec.html" target="element"> Harmoniserte tjenester (Inspire) </a> </td>
											    <td> <a href="../elements/id-3e4d88c375634d4fba96b32aec4980ec.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2574ce8bff2c4b20a2b79704e071688c.html" target="element"> Oversikt over datasett </a> </td>
											    <td> <a href="../elements/id-2574ce8bff2c4b20a2b79704e071688c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3a00e9b1b2c0400b9340d0e0650d2478.html" target="element"> Oversikt over tjenester </a> </td>
											    <td> <a href="../elements/id-3a00e9b1b2c0400b9340d0e0650d2478.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7cab6c467f174deda54dfbf07bed5fdf.html" target="element"> Oversikt over informasjonsmodeller </a> </td>
											    <td> <a href="../elements/id-7cab6c467f174deda54dfbf07bed5fdf.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dde7bbe2f1864bfbb1d55326437761b2.html" target="element"> Oversikt over applikasjoner </a> </td>
											    <td> <a href="../elements/id-dde7bbe2f1864bfbb1d55326437761b2.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e2e347ab02264fe884f3f18cc026c14f.html" target="element"> Oversikt over hendelser </a> </td>
											    <td> <a href="../elements/id-e2e347ab02264fe884f3f18cc026c14f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e1b7f914cfef47f6956984e0e9541abe.html" target="element"> Oversikt over begreper </a> </td>
											    <td> <a href="../elements/id-e1b7f914cfef47f6956984e0e9541abe.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c5896319eef541b0bbd830e656acd9ac.html" target="element"> S&#248;ketjenester </a> </td>
											    <td> <a href="../elements/id-c5896319eef541b0bbd830e656acd9ac.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c3e15f6dad3344fab398f754cbf7c37b.html" target="element"> Registrering av metadata </a> </td>
											    <td> <a href="../elements/id-c3e15f6dad3344fab398f754cbf7c37b.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d96164ef26dc4a8e8c65df6f181dfa8a.html" target="element"> Publisering av produktspesifikasjon </a> </td>
											    <td> <a href="../elements/id-d96164ef26dc4a8e8c65df6f181dfa8a.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf1971ff713946f99f2bc613a7b52db1.html" target="element"> Publisering av dekningskart </a> </td>
											    <td> <a href="../elements/id-bf1971ff713946f99f2bc613a7b52db1.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e666ef812573448bb8fa48d79c710e2f.html" target="element"> Federering av kataloger </a> </td>
											    <td> <a href="../elements/id-e666ef812573448bb8fa48d79c710e2f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81f281c71ede488d86f2e12b8767ef23.html" target="element"> Fasilitator for kj&#248;p og salg av data </a> </td>
											    <td> <a href="../elements/id-81f281c71ede488d86f2e12b8767ef23.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f95dce9e6ff4ae289e8996aee7f0a91.html" target="element"> Kontraktsh&#229;ndtering av avtaler og rettigheter </a> </td>
											    <td> <a href="../elements/id-2f95dce9e6ff4ae289e8996aee7f0a91.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7538292295c247b29c8ae78a11277bbe.html" target="element"> Betalingstjenester </a> </td>
											    <td> <a href="../elements/id-7538292295c247b29c8ae78a11277bbe.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36dc740359114e9684de854a2bdd983c.html" target="element"> Sertifiseringsakt&#248;rer </a> </td>
											    <td> <a href="../elements/id-36dc740359114e9684de854a2bdd983c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e0e95a6a8ef442b85d076bfa83eba2c.html" target="element"> Datasuverenitet (bruksbegrensninger) </a> </td>
											    <td> <a href="../elements/id-0e0e95a6a8ef442b85d076bfa83eba2c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-41a35a4b0e40429383e6d1ee322f31cb.html" target="element"> Orkestrering </a> </td>
											    <td> <a href="../elements/id-41a35a4b0e40429383e6d1ee322f31cb.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-701bdacf0cb342c3a60b0a281ebd639e.html" target="element"> Varsel og notifikasjon </a> </td>
											    <td> <a href="../elements/id-701bdacf0cb342c3a60b0a281ebd639e.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-672c6eec61f64e6080828774070ec4cb.html" target="element"> Rapportering </a> </td>
											    <td> <a href="../elements/id-672c6eec61f64e6080828774070ec4cb.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cf8cf2ff50984cc6a2ff516d5523982b.html" target="element"> Dataanalyse </a> </td>
											    <td> <a href="../elements/id-cf8cf2ff50984cc6a2ff516d5523982b.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-52f0c5f58e3c4a178cfb457ed0c443c1.html" target="element"> Prediksjon </a> </td>
											    <td> <a href="../elements/id-52f0c5f58e3c4a178cfb457ed0c443c1.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-966b44af81a94418946e972a725e6007.html" target="element"> Maskinl&#230;ring (ML) </a> </td>
											    <td> <a href="../elements/id-966b44af81a94418946e972a725e6007.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b2ce156d98464be98f302f41ba0d6fcf.html" target="element"> Kunstig intelligens (AI) </a> </td>
											    <td> <a href="../elements/id-b2ce156d98464be98f302f41ba0d6fcf.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5dfe2561c8524fa19d6d8b4cfe655a27.html" target="element"> Simulering </a> </td>
											    <td> <a href="../elements/id-5dfe2561c8524fa19d6d8b4cfe655a27.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dc5834309a644a968bbf6f779235723f.html" target="element"> Matematiske analyser </a> </td>
											    <td> <a href="../elements/id-dc5834309a644a968bbf6f779235723f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d88063ab18c476184f94754f30c2f96.html" target="element"> Forretningsregler </a> </td>
											    <td> <a href="../elements/id-4d88063ab18c476184f94754f30c2f96.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a73edc4b1a145fbb935267624912b78.html" target="element"> Kobling/mapping </a> </td>
											    <td> <a href="../elements/id-7a73edc4b1a145fbb935267624912b78.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c1746885c5ba42dbbe227395b54ba797.html" target="element"> Enkel visualisering </a> </td>
											    <td> <a href="../elements/id-c1746885c5ba42dbbe227395b54ba797.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3228eef625143ffb88c63b045e7521a.html" target="element"> Avansert visualisering </a> </td>
											    <td> <a href="../elements/id-a3228eef625143ffb88c63b045e7521a.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6cf0d623cf544fc9ba5c01b25b5d293.html" target="element"> Sanntid visualisering </a> </td>
											    <td> <a href="../elements/id-d6cf0d623cf544fc9ba5c01b25b5d293.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-568859e0449e4507bffb1b25f8c7e520.html" target="element"> Augmented Reality (AR) </a> </td>
											    <td> <a href="../elements/id-568859e0449e4507bffb1b25f8c7e520.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c5f0986965f3463ba1c4d90dcd57eb74.html" target="element"> Virtual Reality (VR) </a> </td>
											    <td> <a href="../elements/id-c5f0986965f3463ba1c4d90dcd57eb74.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c5c449e40fb4f3ab1b0a8846086ec2d.html" target="element"> Dashboards </a> </td>
											    <td> <a href="../elements/id-1c5c449e40fb4f3ab1b0a8846086ec2d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7781c934c540415485857b23440e018a.html" target="element"> Business Intelligence  </a> </td>
											    <td> <a href="../elements/id-7781c934c540415485857b23440e018a.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-417cc8683c8641f9822f27a77c5b6827.html" target="element"> BPM og arbeidsflyt </a> </td>
											    <td> <a href="../elements/id-417cc8683c8641f9822f27a77c5b6827.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e712a469d75b4ecbafafdfa9bb90befc.html" target="element"> 3D visualisering </a> </td>
											    <td> <a href="../elements/id-e712a469d75b4ecbafafdfa9bb90befc.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6b33d20489a84dc4b4fe343505b0f6fe.html" target="element"> System monitorering </a> </td>
											    <td> <a href="../elements/id-6b33d20489a84dc4b4fe343505b0f6fe.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5d20f0547fc40cda7add13b73596345.html" target="element"> Logging </a> </td>
											    <td> <a href="../elements/id-a5d20f0547fc40cda7add13b73596345.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-30b51de36241446e98ed653651899fcf.html" target="element"> Data governance </a> </td>
											    <td> <a href="../elements/id-30b51de36241446e98ed653651899fcf.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c492c7f79d8549b282e37992c84a9bb9.html" target="element"> Datakryptering </a> </td>
											    <td> <a href="../elements/id-c492c7f79d8549b282e37992c84a9bb9.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a219d2559fee49c9858e5b21f1294801.html" target="element"> Sikkerhet </a> </td>
											    <td> <a href="../elements/id-a219d2559fee49c9858e5b21f1294801.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-541b9bb0234f4352bee3891474235236.html" target="element"> Personvern </a> </td>
											    <td> <a href="../elements/id-541b9bb0234f4352bee3891474235236.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-515e0ba06d2e4c15942883293af0e017.html" target="element"> P&#229;litelighet </a> </td>
											    <td> <a href="../elements/id-515e0ba06d2e4c15942883293af0e017.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a46671b799a741a79e376025b1f89eb5.html" target="element"> Robusthet </a> </td>
											    <td> <a href="../elements/id-a46671b799a741a79e376025b1f89eb5.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-57cad35752ea44e790965e6582ffe98f.html" target="element"> Sanntidsprosessering </a> </td>
											    <td> <a href="../elements/id-57cad35752ea44e790965e6582ffe98f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f52a5bc2bf624ee1903d0d9451e32ead.html" target="element"> Tilby hendelser </a> </td>
											    <td> <a href="../elements/id-f52a5bc2bf624ee1903d0d9451e32ead.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1689120a0af44d539c17c07d68c70321.html" target="element"> Databeriking </a> </td>
											    <td> <a href="../elements/id-1689120a0af44d539c17c07d68c70321.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-753f70d7a99746de83015e9bea1d4c53.html" target="element"> Sammenstilling </a> </td>
											    <td> <a href="../elements/id-753f70d7a99746de83015e9bea1d4c53.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b923c882358c463ebde52bf8b8f3ba0f.html" target="element"> Datainnhenting </a> </td>
											    <td> <a href="../elements/id-b923c882358c463ebde52bf8b8f3ba0f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d338c7990f14df3aa7bd236996a4c2e.html" target="element"> Transformasjoner </a> </td>
											    <td> <a href="../elements/id-0d338c7990f14df3aa7bd236996a4c2e.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9bbaff9f511d454f9c5f12e47692c559.html" target="element"> Abonnere p&#229; hendelser </a> </td>
											    <td> <a href="../elements/id-9bbaff9f511d454f9c5f12e47692c559.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f98aef1930d14816b76cd2167e6f0b34.html" target="element"> Batch prosessering </a> </td>
											    <td> <a href="../elements/id-f98aef1930d14816b76cd2167e6f0b34.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0a7c96dff8041fcafb99c43590d3de4.html" target="element"> Datastr&#248;mming </a> </td>
											    <td> <a href="../elements/id-a0a7c96dff8041fcafb99c43590d3de4.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e15c41ad9f3460eb38cf48c53ffc9aa.html" target="element"> Tilgangsstyring </a> </td>
											    <td> <a href="../elements/id-0e15c41ad9f3460eb38cf48c53ffc9aa.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9d1db997b6ff4b78808eac4a258477ca.html" target="element"> AI treningsmodell lager </a> </td>
											    <td> <a href="../elements/id-9d1db997b6ff4b78808eac4a258477ca.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>